<header>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <nav class="nav">
            <a class="nav-link active" href="/">Home</a>
            <a class="nav-link" href="/login">Login</a>
        </nav>
    </nav>
</header>