<%- include('includes/head.ejs') %>
<body>
    <%- include('includes/header.ejs') %>
    <h1>Hi user, welcome to our website!</h1>
    <a href = "/logout">Logout</a>
<%- include('includes/head.ejs') %>