<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/header.ejs') %>
    <h1>You are successfully logged out:)</h1>
    <a href = "/login">Login</a>
<%- include('includes/head.ejs') %>