<%- include('includes/head.ejs') %>
</head>
<body>
    <h1>Hi there, please login or register to our website!</h1>
    <div>
        <a href = "/login">Login</a>
        <a href = "/register">Register</a>
    </div>
<%- include('includes/head.ejs') %>