<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
</head>
<body>
    <form action="/register/auth" method="post">
        <div>
            <label>Username:</label>
            <input type="text" name="username"/>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password"/>
        </div>
        <div>
            <label>Password Check:</label>
            <input type="password" name="password"/>
        </div>
        <div>
            <input type="submit" value="Register"/>
        </div>
        <div>
            <a href = "/">Go to Main Page</a>
            <a href = "/login">Login</a>
        </div>
    </form>
</body>
</html>